@model VitalMechanic.Models.MileageMilestone

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MileageMilestone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mileageid" class="control-label"></label>
                <input asp-for="Mileageid" class="form-control" />
                <span asp-validation-for="Mileageid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarMileage" class="control-label"></label>
                <input asp-for="CarMileage" class="form-control" />
                <span asp-validation-for="CarMileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milestones" class="control-label"></label>
                <input asp-for="Milestones" class="form-control" />
                <span asp-validation-for="Milestones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
