@{
    ViewData["Title"] = "Home Page";
    
}

    <div class="text-center text-light">
        <h2 class="display-3">Welcome To Vital Mechanic</h2>
        <p>About Vital Mechanic</p>
    </div>
   
