@{
    ViewData["Title"] = "Home Page";
    
}

    <div class="text-center text-warning">
        <h2 class="display-3"><b>Welcome To Vital Mechanic</b></h2>
        <p>About Vital Mechanic</p>
        <div class="container bg-dark text-center">
            <p class="text-warning">
                <b>
                    Vital Mechanic is an application that allows you to keep track of your vehicle maintenance.
                    The application gives the you recommendations on when to inspect and change parts, oil, filters, and
                    rotate your tires based on the mileage of your vehicle.
                </b>
            </p>
        </div>
    </div>
   
